.fiby-md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.fiby-label {
    font-size: 1rem;
    transform: translateY(-14px) scale(0.8);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    cursor: text;
    transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    display: inline-block !important;
    transform-origin: 0% 100%;
    margin-bottom: 0.5rem !important;
    /*font-family: "Raleway";*/
    font-weight: 300 !important;
    line-height: 1;
    text-align: left
}

.fiby-input-text {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: auto;
    padding: .6rem 0 .4rem 0;
    margin: 0 0 .5rem 0;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    overflow: visible;
    font-family: inherit;
}

.dv-fiby-search {
    display: flex;
    justify-content: left;
    align-items: center;
}

.img-fiby-search {
    cursor: pointer !important;
}


.is-hidden {
    display: none !important;
}

.modal-content {
    padding: 30px;
}

.modal-control-group {
    padding-top: 20px;
    text-align: initial;
}

.modal-text-input {
    width: 75%;
}

.modal-buttons-div {
    padding-top: 20px;
}

.modal-btn-save {
    margin-right: 5px;
}

.modal-select {
    width: auto !important;
    display: inline !important;
}

.modal-form .modal-content {
    padding: 30px;
}

.ctn-button {
/*    display: flex;*/
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.ctn-btn-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .ctn-btn-tabla > img,
    .ctn-btn-tabla a > img {
        height: 20px;
        cursor: pointer;
        margin-right: 10px;
    }

    .ctn-btn-tabla img:first-child {
        margin-right: 10px;
    }

    .ctn-btn-tabla img {
        height: 20px;
        cursor: pointer;
    }

        .ctn-btn-tabla img:last-child {
            margin-right: 0px;
        }