<div class="table-responsive">
    <table id="tbReporteEntradaConsulta" class="table table-striped table-bordered">
        <thead id="thReporteEntradaData">
            <tr>
                <th class="text-center">Codigo</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Categoria</th>
                <th class="text-center">Almacen</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio Compra</th>
                <th class="text-center">Precio Venta</th>
                <th class="text-center">Subtotal</th>
            </tr>
        </thead>
        <tbody id="tbReporteEntradaData">
        </tbody>
    </table>
</div>
<label for="txtNumeroDocumentoEntrada" class="text-right control-label col-form-label" style=""><b>Total : 0.00</b></label>