@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}


<div class="card">
    <div class="card-body wizard-content">
        <h4 class="card-title">Consulta Entrada</h4>
        <h6 class="card-subtitle"></h6>
        <form id="example-form" action="#" class="mt-5" novalidate="novalidate">
            <div role="application" class="wizard clearfix" id="steps-uid-0">
                <div class="content clearfix">
                    <div id="steps-uid-0-p-0" role="tabpanel" class="body" aria-labelledby="steps-uid-0-h-0" aria-hidden="false">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="fiby-md-form">
                                                                <input type="text" class="fiby-input-text form-control" id="txtNroDocumentoEntrada">
                                                                <label for="txtNroDocumentoEntrada" class="fiby-label active">Nº de Documento</label>
                                                            </div>
                                                        </div>
                                                        @*<div class="col-2 dv-fiby-search">
                                                            <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar</button>
                                                            
                                                            <button type="button" id="btnLimpiar" class="btn btn-info btn">Limpiar</button>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="ctn-button">
                                            <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" id="btnLimpiar" class="btn btn-info btn">Limpiar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <input readonly type="text" class="fiby-input-text form-control" id="txtFechaEntrada" placeholder=" ">
                                                        <label for="txtFechaEntrada" class="fiby-label active">Fecha</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <input readonly type="text" class="fiby-input-text form-control" id="txtUsuarioEntrada" placeholder=" ">
                                                        <label for="txtUsuarioEntrada" class="fiby-label active">Usuario</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <input readonly type="text" class="fiby-input-text form-control" id="txtDocProveedorEntrada" placeholder=" ">
                                                        <label for="txtDocProveedorEntrada" class="fiby-label active">Doc. Proveedor</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="fiby-md-form">
                                                        <input readonly type="text" class="fiby-input-text form-control" id="txtNombreProveedorEntrada" placeholder=" ">
                                                        <label for="txtNombreProveedorEntrada" class="fiby-label active">Nombre Proveedor</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Lista de Productos</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Partial("Grid")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/app/areas/almacen/views/reporteentrada/js/index.js")" asp-append-version="true"></script>