@{
    Layout = ViewBag.Layout;
}


<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Pacientes</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="../view/admin/admin.php">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>


            <li class="nav-item">
                <a href="#">Mostrar</a>
            </li>
        </ul>
    </div>
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Mostrar</h4>
                        <a onclick="pacientejs.openModal(0)" class="btn btn-primary btn-round ml-auto">
                            <span style="color: white;">
                                Nuevo
                            </span>
                        </a>
                    </div>
                    <div class="card-tools">
                    </div>
                    <div id="dvGrid" class="card-body">


                        @Html.Partial("Grid")


                    </div>
                </div>


            </div>
        </div>
    </div>

</div>


<script type="text/javascript" src="@Url.Content("~/app/areas/mantenimiento/views/paciente/js/index.js")" asp-append-version="true"></script>

