<div class="table-responsive">
    <table id="tbSalesAll" class="table table-striped table-bordered">
        <thead id="thSalesAllData">
            <tr>
                <th class="text-center">Neto</th>
                <th class="text-center">Igv</th>
                <th class="text-center">Bruto</th>
                <th class="text-center">Serie</th>
                <th class="text-center">Numero Serie</th>
                <th class="text-center">Nro Doc Cliente</th>
                <th class="text-center">Cliente</th>
                <th class="text-center">Fecha Emisión</th>
            </tr>
        </thead>
        <tbody id="tbSalesAllData">
        </tbody>
    </table>
</div>