@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Registrar Venta(Completa la informacion con tu Boleta o Factura)</h4>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de Venta</h4>
                    <div class="col-md-12">
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Mes deducible:</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-select modal-select" id="cboTypeDocumentSale">
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero</option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Setiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Tipo Documento Venta :</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-select modal-select" id="cboTypeDocumentSale">
                                    <option value="03" selected>Boleta</option>
                                    <option value="01">Factura</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Fecha Emisión : </label>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" class="form-control" id="txtDateRegisterSale" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2">
                                <label for="txtSerieRegisterSale" class="text-right control-label col-form-label">Serie :</label>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-select modal-select" id="txtSerieRegisterSale">
                                    @foreach (var item in ViewBag.listaSerie)
                                    {
                                        <option value="@item.SerieId">@item.Description</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="" class="text-right control-label col-form-label">Numero Serie : </label>
                            </div>
                            <div class="col-lg-2">
                                <input type="text" class="form-control" id="txtNumberSerieRegisterSale" placeholder="Ingrese dato">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Producto/Servicio</h4>
                    @*<div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Buscar Producto/Servicio: </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-info">Click Aqui</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtCodeSearchProduct" class="col-sm-3 text-right control-label col-form-label">Codigo: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtCodeSearchProduct" readonly placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtDescriptionSearchProduct" class="col-sm-3 text-right control-label col-form-label">Descripción: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtDescriptionSearchProduct" readonly placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtStockSearchProduct" class="col-sm-3 text-right control-label col-form-label">Stock: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtStockSearchProduct" readonly placeholder="">
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <label for="txtNetoProduct" class="col-sm-3 text-right control-label col-form-label">Valor neto(sin igv): </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNetoProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtIGVProduct" class="col-sm-3 text-right control-label col-form-label">IGV: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtIGVProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtBrutoProduct" class="col-sm-3 text-right control-label col-form-label">Valot Bruto(con igv): </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtBrutoProduct" placeholder="Ingrese dato">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cliente</h4>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Tipo Documento Cliente: </label>
                        <div class="col-sm-9">
                            <select class="form-select modal-select" id="cboTypeDocumentClientSale">
                                <option value="1" selected>DNI</option>
                                <option value="6">RUC</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtNumberDocumentClient" class="col-sm-3 text-right control-label col-form-label">Numero de documento: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNumberDocumentClient" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtNameCompleteClient" class="col-sm-3 text-right control-label col-form-label">Nombres y Apellidos: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNameCompleteClient" placeholder="Ingrese dato">
                        </div>
                    </div>
                    @*<div class="form-group row">
                        <label for="txtDirectionClient" class="col-sm-3 text-right control-label col-form-label">Dirección: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtDirectionClient" placeholder="Ingrese dato">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtPhoneClient" class="col-sm-3 text-right control-label col-form-label">Telefono: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtPhoneClient" placeholder="Ingrese dato">
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body text-center">
            <div class="ctn-button">
                <button type="button" id="btnGenerarXML" class="btn btn-info btn">Generar XML</button>
                <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar</button>
                <button type="button" id="btnLimpiar" class="btn btn-info btn">Limpiar</button>
                <button type="button" id="btnGrabar" class="btn btn-info btn">Grabar</button>
                <button type="button" id="btnGenerarArchivo" class="btn btn-info btn">Generar Archivo PLE</button>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registros</h5>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("Grid")
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="@Url.Content("~/app/areas/sale/views/generatorsale/js/index.js")" asp-append-version="true"></script>