<div class="table-responsive">
    <table id="tbEntradaConsulta" class="table table-striped table-bordered">
        <thead id="thEntradaData">
            <tr>
                <th class="text-center">Fecha <br /> Registro</th>
                <th class="text-center">Nro de <br /> Documento</th>
                <th class="text-center">Usuario <br />Registro</th>
                <th class="text-center">Proveedor</th>
                <th class="text-center">Monto <br /> Total</th>
                <th class="text-center">Codigo Producto</th>
                <th class="text-center">Descripción <br /> Producto</th>
                <th class="text-center">Categoria <br /> Producto</th>
                <th class="text-center">Almacen <br /> Producto</th>
                <th class="text-center">Precio <br /> Compra</th>
                <th class="text-center">Precio <br /> Venta</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Subtotal</th>
            </tr>
        </thead>
        <tbody id="tbEntradaData">
        </tbody>
    </table>
</div>