<div class="table-responsive">
    <table id="tbRolAllMaintenance" class="table table-striped table-bordered">
        <thead id="thRolAllData">
            <tr>
                <th class="text-center">Acciones</th>
                <th class="text-center">Codigo</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Activo</th>
            </tr>
        </thead>
        <tbody id="tbRolAllData">
            @*<tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
            </tr>*@
        </tbody>
    </table>
</div>