@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Mantenimiento de Roles</h4>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Buscar Rol</h4>
                    <div class="row">
                        <label for="txtDescriptionRolSearch"
                               class="col-sm-3 text-right control-label col-form-label">Descripción : </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control right-0" id="txtDescriptionRolSearch"
                                   placeholder="Ingrese dato">
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="button" id="btnSearchRol" class="btn btn-dark">Buscar</button>
                        <button type="button" id="btnNewRol" class="btn btn-info btn">Nuevo Rol</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resultados</h5>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("Grid")
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="@Url.Content("~/app/areas/maintenance/views/rol/js/index.js")" asp-append-version="true"></script>