<div class="table-responsive">
    <table id="tbCategoryAllMaintenance" class="table table-striped table-bordered">
        <thead id="thCategoryAllData">
            <tr>
                <th class="text-center">Acciones</th>
                <th class="text-center">Codigo</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Activo</th>
            </tr>
        </thead>
        <tbody id="tbCategoryAllData">
        </tbody>
    </table>
</div>