@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}
@*<link href="~/css/mdb.min.css" rel="stylesheet">*@

<div class="card">
    <div class="card-body wizard-content">
        <h4 class="card-title">Mantenimiento de Anuncios</h4>
        <h6 class="card-subtitle"></h6>
        <form id="example-form" action="#" class="mt-5" novalidate="novalidate">
            <div role="application" class="wizard clearfix" id="steps-uid-0">
                <div class="content clearfix">
                    <div id="steps-uid-0-p-0" role="tabpanel" class="body" aria-labelledby="steps-uid-0-h-0" aria-hidden="false">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Complete la Información</h5>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fiby-md-form">
                                                    <input type="text" class="fiby-input-text form-control" id="txtTitulo" placeholder=" ">
                                                    <label for="txtTitulo" class="fiby-label active">Titulo Anuncio</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="fiby-md-form">
                                                    <button type="button" id="btnBuscar" class="btn btn-info btn">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="fiby-md-form">
                                                    <input type="text" class="fiby-input-text form-control" id="txtDetalle" placeholder=" ">
                                                    <label for="txtDetalle" class="fiby-label active">Detalle</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="fiby-md-form">
                                                    <input type="number" class="fiby-input-text form-control" id="txtOrden" placeholder=" ">
                                                    <label for="txtOrden" class="fiby-label active">Orden</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="fiby-md-form">
                                                    <input readonly type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFechaInicio" placeholder=" ">
                                                    <label for="txtFechaInicio" class="fiby-label active">Fecha Inicio</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="fiby-md-form">
                                                    <input readonly type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="fiby-input-text form-control" id="txtFechaFin" placeholder=" ">
                                                    <label for="txtFechaFin" class="fiby-label active">Fecha Fin</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card-body text-center">
                                                <div class="ctn-button">
                                                    <button type="button" id="btnRegistrar" class="btn btn-info btn">Registrar Anuncio</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table id="tbAnuncio" class="table table-striped table-bordered">
                                                        <thead id="thAnuncio">
                                                            <tr>
                                                                <th class="text-center">Acciones</th>
                                                                <th class="text-center">Titulo</th>
                                                                <th class="text-center">Detalle</th>
                                                                <th class="text-center">Orden</th>
                                                                <th class="text-center">Fecha Inicio</th>
                                                                <th class="text-center">Fecha Fin</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/app/areas/maintenance/views/anuncio/js/index.js")" asp-append-version="true"></script>